<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper2.UserMapper2">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.User2">
        <result column="u_nickname" property="u_nickname" jdbcType="VARCHAR"/>
    </resultMap>

	<select id="find" resultMap="BaseResultMap">
        select
         *
        from `user`
    </select>
</mapper>

